---
---

// Headers
$header-bg-color: #04587B !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #04587B !default;

$dark: black;

@import 'jekyll-theme-cayman';
@import "bulma-scss/utilities/_all";
@import "bulma-scss/grid/columns";
@import "bulma-scss/components/_navbar";
@import "bulma-scss/components/_panel";
@import "bulma-scss/components/_card";

.panel ul {
  padding-left: 1.5rem;
  margin: 0;
}

body {
  padding-top: 5rem;
}

.navbar-brand {
  h1 {
    margin: .5rem 0;
  }
  .navbar-item {
    &:focus,
    &:hover,
    &.is-active {
      background: transparent !important;
    }
  }
  background-position: center center;
  background-size: cover;
  background-image: url('https://eoimages.gsfc.nasa.gov/images/imagerecords/90000/90008/asia_vir_2016.jpg');
}

html, body {
    height:100%;
    width:100%;
    margin:0;
}

.h_iframe iframe {
    width:100%;
    height:1142px;
}
.h_iframe {
    height: 1142px;
    width:100%;
}

.badge {
  border-radius: 5px;
  background-color: gold;
  padding: 5px;
  margin-left: 1rem;
  font-size: 1rem;
  white-space: nowrap;
}

.person__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
}

.person__item {
  border: 2px solid rgba(96, 108, 113, 0.5);
  border-radius: 0.3rem;
  padding: 1rem;
  text-align: center;
  margin-right: 1rem;
  margin-bottom: 1rem;
  position: relative;
  display: block;
  width: calc(25% - 1rem);
}

@media only screen and (max-width: 950px) {
  .person__item {
    width: calc(33.33% - 1rem);
  }
}

@media only screen and (max-width: 650px) {
  .person__item {
    width: calc(50% - 1rem);
  }
}

@media only screen and (max-width: 350px) {
  .person__item {
    width: 100%;
  }
}

.person__item {
  text-decoration: none !important;
}

.person__item:hover .person__name {
  text-decoration: underline;
}

.person__title {
  font-size: small;
  text-decoration: none !important;
}

.person__item span {
  color: rgb(96, 108, 113);
}

.person__name {
  display: inline-block;
  margin-top: 1rem;
}

.person__pic-wrapper {
  width: 100%;
  position: relative;
  padding-top: 100%;
  height: 0;
  overflow: hidden;
}

.person__pic {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
  height: auto;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
}

.collapsible-header {
  cursor: pointer;

  h2, p {
    margin: 0;
  }

  &:hover {
    h2, p {
      text-decoration: underline;
    }
  }

  &:before {
    content: "+";
    font-size: 1.8em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: left; 
    transition: transform 0.33s ease-in-out;
  }
}

.collapsible.is-expanded .collapsible-header {
  &:before {
    transform: rotate(-225deg);
  }
}

.collapsible-content {
  max-height: 0;
  height: auto;
  overflow: hidden;
  transition: max-height 0.33s;
  padding: 0;

  .collapsible-content-inner {
    padding: 1.5rem;
  }
}

.collapsible.is-expanded .collapsible-content {
  max-height: 10000em;
}
