---
---

$dark: black;
$primary: rgba(230, 43, 30, 0.9);

@import "bulma-scss/bulma";

html {
  background: $dark;
}

.navbar-brand img {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
  max-width: none;
}

.parallax-mirror[style*="visible"] + .navbar.is-dark {
  background: transparent;
}

#landing {
  background: rgba(0,0,0,0.25) !important;
}

.countdown-logo {
  width: 100%;
  max-width: 600px;
}

.countdown-logo-wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.yellow-highlight {
  background: #F1FF39;
  color: $dark;
  margin-left: -1000px;
  margin-right: -1000px;
  padding-left: 1000px;
  padding-right: 1000px;
  padding-top: 5px;
  padding-bottom: 5px;
}
