---
---

$dark: black;
$primary: rgba(230, 43, 30, 0.9);

@import "bulma-scss/bulma";

html {
  background: $dark;
}

.navbar-brand img {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
  max-width: none;
}

.parallax-mirror[style*="visible"] + .navbar.is-dark {
  background: transparent;
}

section.hero.landing {
  background: rgba(0,0,0,0.25);
}
