<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta property="og:image" content="https://www.climatechange.ai/images/full_light_earth_lowres.jpeg">
    <meta property="og:image:secure_url" content="https://www.climatechange.ai/images/full_light_earth_lowres.jpeg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="648">
    <meta property="og:image:height" content="648">

    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://www.climatechange.ai/index.html">
          <h1>
            Climate Change AI
          </h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="https://www.climatechange.ai/about.html">
              About
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="https://www.climatechange.ai/about.html">
                Vision, mission, and goals
              </a>
              <a class="navbar-item" href="https://www.climatechange.ai/about.html#people">
                People
              </a>
               <a class="navbar-item" href="https://www.climatechange.ai/about.html#press">
                Press
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{{ site.paper_url }}" target="_blank">
              The Paper
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="{{ site.paper_url }}" target="_blank">
                Full paper
              </a>
              <a class="navbar-item" href="https://www.climatechange.ai/summaries.html">
                Interactive summary
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="https://www.climatechange.ai/resources.html">
              Resources
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="https://www.climatechange.ai/resources.html">
                Readings and datasets
              </a>
              <a class="navbar-item" href="https://www.climatechange.ai/faq.html">
                FAQ
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="https://www.climatechange.ai/workshops.html">
              Workshops
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="https://www.climatechange.ai/AMLD2020_workshop.html">
                AMLD 2020
              </a>
              <a class="navbar-item" href="https://www.climatechange.ai/NeurIPS2019_workshop.html">
                NeurIPS 2019
              </a>
              <a class="navbar-item" href="https://www.climatechange.ai/ICML2019_workshop.html">
                ICML 2019
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="https://www.climatechange.ai/newsletter.html">
              Newsletter
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="https://www.climatechange.ai/mailing_list.html">
                Sign up
              </a>
              <a class="navbar-item" href="https://www.climatechange.ai/newsletter.html">
                Archive
              </a>
            </div>
          </div>

          <a class="navbar-item with-tag" target="_blank" href="https://forum.climatechange.ai/">
            <span class='link-text'>Forum</span><span class='tag'>new!</span>
          </a>

          <a class="navbar-item" href="https://www.climatechange.ai/get_involved.html">
            Get Involved
          </a>

      </div>
    </nav>

    <main id="content" class="main-content" role="main">

      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Contact us at: <a href="mailto:info@climatechange.ai">info@climatechange.ai</a></span>
      </footer>
    </main>
  </body>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>

  <script>
    $(document).ready(function() {
      $(document).on('click', '.collapsible-header', function(ev) {
        var h = $(ev.currentTarget);
        h.closest('.collapsible').toggleClass('is-expanded');
      });
    });
  </script>
</html>
