<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="./index.html">
          <h1>
            Climate Change AI
          </h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="./index.html">
            Home
          </a>

          <a class="navbar-item" href="https://arxiv.org/abs/1906.05433" target="_blank">
            The Paper
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Workshops
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="./NeurIPS2019_workshop.html">
                NeurIPS 2019
              </a>
              <a class="navbar-item" href="./ICML2019_workshop.html">
                ICML 2019
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              About
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="./About.html">
                Vision, Mission, and Goals
              </a>
              <a class="navbar-item" href="./People.html">
                People
              </a>
            </div>
          </div>

          <a class="navbar-item" href="./Mailing_list.html">
            Mailing List
          </a>
        </div>

      </div>
    </nav>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Contact us at: <a href="mailto:climatechangeai@gmail.com">climatechangeai@gmail.com</a>.</span>
      </footer>
    </main>
  </body>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>
</html>
