<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    {% if page.og_image_url %}
      <meta property="og:image" content="{{ page.og_image_url }}">
      <meta property="og:image:type" content="{{ page.og_image_type }}">
      <meta property="og:image:width" content="{{ page.og_image_width }}">
      <meta property="og:image:height" content="{{ page.og_image_height }}">
    {% else %}
      <meta property="og:image" content="https://www.climatechange.ai/images/full_light_earth_lowres.jpeg">
      <meta property="og:image:secure_url" content="https://www.climatechange.ai/images/full_light_earth_lowres.jpeg">
      <meta property="og:image:type" content="image/jpeg">
      <meta property="og:image:width" content="648">
      <meta property="og:image:height" content="648">
    {% endif %}

    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ClimateChangeAI">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.1.45/css/materialdesignicons.min.css">
  </head>
  <body>
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1>
            Climate Change AI
          </h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/about">
              About
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/about">
                Mission and goals
              </a>
              <a class="navbar-item" href="/about#people">
                People
              </a>
               <a class="navbar-item" href="/about#press">
                Press
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{{ site.paper_url }}" target="_blank">
              The Paper
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/summaries">
                Interactive summary
              </a>
              <a class="navbar-item" href="{{ site.paper_url }}" target="_blank">
                Full paper
              </a>
              <a class="navbar-item" href="/resources">
                Readings and datasets
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/newsletter">
              Newsletter
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/mailing_list">
                Sign up
              </a>
              <a class="navbar-item" href="/newsletter">
                Archive
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/events">
              Events
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/events/neurips2020">NeurIPS 2020</a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="/events/iclr2020">ICLR 2020</a>
              <a class="navbar-item" href="/events/amld2020">AMLD 2020</a>
              <a class="navbar-item" href="/events/neurips2019">NeurIPS 2019</a>
              <a class="navbar-item" href="/events/cop25">COP25</a>
              <a class="navbar-item" href="/events/icml2019">ICML 2019</a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/get_involved">
              Get Involved
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/get_involved">
                Get involved
              </a>
              <a class="navbar-item" href="/get_involved#frequently-asked-questions">
                FAQ
              </a>
              <a class="navbar-item" href="/join-core-team">
                Join the core team!
              </a>
            </div>
          </div>

          <a class="navbar-item" target="_blank" href="https://forum.climatechange.ai/">
            Forum
          </a>
      </div>
    </nav>

    <main id="content" class="main-content" role="main">

      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Contact us at: <a href="mailto:info@climatechange.ai">info@climatechange.ai</a></span>

        <a href="https://www.youtube.com/c/ClimateChangeAI" target="_blank" class='site-footer__media-link'>
          <span class="icon">
            <i class="mdi mdi-youtube" aria-hidden="true"></i>
          </span>
        </a>

        <a href="https://www.linkedin.com/company/climatechangeai" target="_blank" class='site-footer__media-link'>
          <span class="icon">
            <i class="mdi mdi-linkedin" aria-hidden="true"></i>
          </span>
        </a>

        <a href="https://www.facebook.com/climatechangeai" target="_blank" class='site-footer__media-link'>
          <span class="icon">
            <i class="mdi mdi-facebook" aria-hidden="true"></i>
          </span>
        </a>

        <a href="https://twitter.com/climatechangeai" target="_blank" class='site-footer__media-link'>
          <span class="icon">
            <i class="mdi mdi-twitter" aria-hidden="true"></i>
          </span>
        </a>
      </footer>
    </main>
  </body>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>

  <script>
    $(document).ready(function() {
      $(document).on('click', '.collapsible-header', function(ev) {
        var h = $(ev.currentTarget);
        h.closest('.collapsible').toggleClass('is-expanded');
      });
    });
  </script>
</html>
