---
layout: default
---

{% assign p = site.data[page.workshop_key][page.paper_index] %}

{% if page.workshop_key == 'iclr2020_papers' %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/ICLR2020_workshop">ICLR 2020 Workshop</a></li>
    <li class="is-active"><a href="#" aria-current="page">Paper #{{ p.id }}</a></li>
    <li class="next-prev">
      {% if p.prev_paper_id %}
        <a href="/papers/iclr2020/{{p.prev_paper_id}}">
          <span class="icon is-small">
            <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
          </span>
          Previous
        </a>
      {% else %}
        <span class='cursor-no'>Previous</span>
      {% endif %}
      {% if p.next_paper_id %}
        <a href="/papers/iclr2020/{{p.next_paper_id}}">
          Next
          <span class="icon is-small">
            <i class="mdi mdi-arrow-right" aria-hidden="true"></i>
          </span>
        </a>
      {% else %}
        <span class='cursor-no'>Next</span>
      {% endif %}
    </li>
  </ul>
</nav>
<hr>
{% endif %}

<h2>{{ p.paper_title }} ({{ p.q1_track }} Track)
  {% if p.is_best_paper %}
    <span class='badge'>Best Paper Award</span>
  {% elsif p.is_best_proposal %}
    <span class='badge'>Best Proposal Award</span>
  {% elsif p.status == "Accept (spotlight)" %}
    <span class='badge lighter'>Spotlight</span>
  {% endif %}
</h2>

<p><em>{{ p.authors }}</em></p>

<div class='buttons'>
  {% if p.paper_path %}
    <a href='{{ p.paper_path }}' class='button' target='_blank'>Paper PDF</a>
  {% endif %}

  {% if p.slides_path %}
    <a href='{{ p.slides_path }}' class='button' target='_blank'>Slides PDF</a>
  {% endif %}

  {% if p.slideslive_id or p.youtube_id %}
    <a href='#recording' class='button'>Recorded Talk</a>
  {% endif %}

  {% if p.rocketchat_channel %}
    <a href='#rocketchat' class='button'>Paper Chatroom</a>
  {% endif %}
</div>

<h3 id='abstract' class='abstract-header'>Abstract</h3>
<p class='abstract-text'>{{ p.abstract }}</p>

{% if p.slideslive_id %}
  <h3 id='recording'>Recorded Talk (<a href="https://slideslive.com/{{ p.slideslive_id }}">direct link</a>)</h3>

  <div id="presentation-embed-{{ p.slideslive_id }}" class="slp"></div>
  <div id='status-message'>
    <em>Loading&hellip;</em>
  </div>

  <script src='https://slideslive.com/embed_presentation.js'></script>
  <script>
    const sle = new SlidesLiveEmbed("presentation-embed-{{ p.slideslive_id }}", {
      presentationId: '{{ p.slideslive_id }}',
      autoPlay: false, // change to true to autoplay the embedded presentation
      verticalEnabled: true,
      allowHiddenControlsWhenPaused: true,
      zoomRatio: 0.25,
      hideTitle: true,
    });
    sle.addCallback("onError", (err) => {
      document.getElementById('status-message').innerHTML = "<em>Video coming soon!</em>";
    });
    sle.addCallback("onLoad", () => {
      document.getElementById('status-message').innerHTML = "";
    });
  </script>
{% elsif p.youtube_id %}
  <h3 id='recording'>Recorded Talk (<a href="https://youtu.be/{{ p.youtube_id }}">direct link</a>)</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ p.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endif %}

{% if p.rocketchat_channel %}
  <h3 id='rocketchat'>Paper Chatroom (for registered ICLR 2020 attendees)</h3>
  <div class="rocket card">
    <iframe frameborder="0" src="{{ p.rocketchat_channel }}?layout=embedded" width="100%" height="400px" style="display: block"></iframe>
  </div>
{% endif %}
