<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta property="og:image" content="https://www.climatechange.ai/images/tedx_preview.png">
    <meta property="og:image:secure_url" content="https://www.climatechange.ai/images/tedx_preview.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="966">
    <meta property="og:image:height" content="504">

    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ClimateChangeAI">
    <link rel="stylesheet" href="{{ '/assets/css/tedx.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.1.45/css/materialdesignicons.min.css">
  </head>

  {% assign navroot = "" %}
  {% assign navkls = "is-fixed-top" %}
  {% assign bodkls = "" %}
  {% if page.url contains "speakers" %}
    {% assign navroot = "/events/tedx" %}
    {% assign navkls = "" %}
    {% assign bodkls = "speakers" %}
  {% endif %}

  <body class='{{bodkls}}'>
    <nav
      class="navbar is-dark is-spaced {{navkls}}"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="{{navroot}}#">
          <img src="/images/tedx-logo-cropped.png" />
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbar-menu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end">
          <a class="navbar-item" href="{{navroot}}#about">
            About
          </a>
          <a class="navbar-item" href="{{navroot}}#speakers">
            Speakers
          </a>
          <a class="navbar-item" href="{{navroot}}#team">
            Team
          </a>
          <a class="navbar-item" href="{{navroot}}#contact">
            Contact
          </a>
        </div>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/assets/js/parallax.min.js"></script>
  <script>
    $(document).ready(function() {
      $(".navbar-burger").click(function() {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
      });
      $('.navbar-item').click(() => {
        $('.navbar-menu').removeClass('is-active');
        $('.navbar-burger').removeClass('is-active');
      });
    });
  </script>
</html>
